body {
	margin: 0em;
}

header {
  display:  flex;
  background: green;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
	padding: 0em 0.5em;
}

.menu span {
	padding: 0em 0.5em;
}

.list-wrapper {
	display: flex;
	flex-grow: 2;
	justify-content: center;
}

.list-wrapper ul {
	display: flex;
  align-items: center;
}

.list-wrapper ul {
	display: flex;
	list-style: none;
	padding: 0px;
  margin: 0px;
}

.list-wrapper ul li {
	margin: 8px
}

.icon-wrapper {
	display: flex;
  align-items: center;
	flex-grow: 1;
	justify-content: flex-end;
}

.icon-wrapper span {
	margin: 5px;
}

/* 752px 이하인 경우 적용됨 */
@media (max-width: 47em) {
	header {
		display: flex;
    flex-direction: column;
	}

	.menuIcon {
		display: flex;
    align-items: center;
	}

	.logo-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		height: 3em;
	}

	.list-wrapper {
		display: none;
    flex-direction: column;
	}

	.list-wrapper ul {
    flex-direction: column;
	}

	.icon-wrapper {
		display: none;
	}
}

/* 753px 이상인 경우 적용됨 */
@media (min-width: 47.1em) {
	header {
		height: 5em;
	}

	.menuIcon {
		display: none;
	}

	.list-wrapper {
		display: flex;
    flex-direction: row;
	}

	.icon-wrapper {
		display: flex;
		justify-content: flex-end;
	}
}
