:root {
	--text-color: white;
	--menu-color: orange;
}

body {
	margin: 0px;
}

nav {
  display:  flex;
	flex-direction: row;
	justify-content: space-between;
  background: green;
	padding: 8px 10px;
}

.nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--text-color);
}

.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: var(--menu-color);
}

.nav-menu li {
	padding: 8px 10px;
}

.nav-icons {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0px;
}

.nav-icons li {
	padding: 8px 10px;
}

.nav-toggleBtn {
	display: none;
}

/* 752px 이하인 경우 적용됨 */
@media screen and (max-width: 752px) {
	nav {
    flex-direction: column;
	}

	.nav-logo {
		justify-content: flex-start;
	}

	.nav-menu {
		flex-direction: column;
		display: none;
	}

	.nav-icons {
		display: none;
	} 

	.nav-toggleBtn {
		display: block;
		position: absolute;
		right: 10px;
		cursor: pointer;
	}
}

.nav-menu.active,
.nav-icons.active {
	display: flex;
}